
{% extends 'layouts/layout.html' %}



{% block content %}
	
    

    <div class="flotProgra">
		<div class="row">
			<div class="col-md-auto">
				<select class="form-control search-wid program" name="Programas" style="">
                    <option selected>Programa de interés...</option>
                    <option value="http://arqdis.unicesmag.edu.co/index.php/arquitectura/">Arquitectura</option>
                    <option value="http://arqdis.unicesmag.edu.co/index.php/diseno-grafico/">Diseño gráfico</option>
                    <option value="http://ciadmcon.unicesmag.edu.co/index.php/administracion-de-empresas/">Administración de empresas</option>
                    <option value="http://ciadmcon.unicesmag.edu.co/index.php/contaduria-publica/">Contaduría pública</option>
                    <option value="http://ciadmcon.unicesmag.edu.co/index.php/tecnologia-en-contabilidad-y-finanzas/">Tecnología en contabilidad y finanzas</option>
                    <option value="http://ciadmcon.unicesmag.edu.co/index.php/tecnologia-en-gestion-financiera/">Tecnología en gestión financiera</option>
                    <option value="http://cisohum.unicesmag.edu.co/index.php/derecho/">Derecho</option>
                    <option value="http://cisohum.unicesmag.edu.co/index.php/psicologia/">Psicología</option>
                    <option value="https://educacion.unicesmag.edu.co/index.php/licenciatura-en-quimica/">Licenciatura en química</option>
                    <option value="http://educacion.unicesmag.edu.co/index.php/licenciatura-en-educacion-fisica/">Licenciatura en educación física</option>
                    <option value="http://educacion.unicesmag.edu.co/index.php/licenciatura-en-educacion-infantil/">Licenciatura en educación infantil</option>
                    <option value="http://ingenieria.unicesmag.edu.co/index.php/ingenieria-electronica/">Ingeniería Electrónica</option>
                    <option value="http://ingenieria.unicesmag.edu.co/index.php/ingenieria-en-sistemas/">Ingeniería de sistemas</option>
                    <option value="https://info.unicesmag.edu.co/especializacion-gerencia-de-proyectos/">Esp. Gerencia de proyectos</option>
                    <option value="unicesmag.edu.co/especializacion-arquitectura-y-urbanismo-bioclimatico/">Esp. Arquitectura y urbanismo bioclimático</option>
                    <option value="https://info.unicesmag.edu.co/especializacion-infancia-cultura-y-desarrollo/">Esp. Infancia, cultura y desarrollo</option>
                    <option value="https://info.unicesmag.edu.co/especializacion-en-pedagogia-del-entrenamiento-deportivo/">Esp. Pedagogía del entrenamiento deportivo</option>
                    <option value="https://info.unicesmag.edu.co/especializacion-derecho-empresarial/">Esp. Derecho empresarial</option>
                </select>
			</div>			
		</div>
	</div>
    {% load static %}
    <div id="banner"  >
        {% include 'sliders/sliderHome.html' %}
    </div>
    
	
    {% comment 'comentario' %}
    acontinuacion se declara el contenido de la web
    {% endcomment %}
    
	

	{% comment 'estructura' %}
	Contenido del blog
	{% endcomment %}
              
	{% include 'mainapp/blogHome.html' %}

    {% comment 'estructura' %}
	Contenido del formulario
	{% endcomment %}
              
	{% include 'mainapp/formulario.html' %}
	
    {% comment 'diferentes' %}
	    en esta seccion empieza la categoria de somos diferentes e 
        incluye el codigo de generacion automatica de contenidos
	{% endcomment %}

	<div class="newest">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-8" style="background-color: #f3f3f3;">
                <h1 class="titulo1" style="margin-top: 20px; margin-bottom: 20px;">
                    Somos diferentes somos Unicesmag
                </h1>
            </div>
            <div class="form-group col-md-2"></div>

			<div class="newest-content">

				<div class="newest-tab">
					<ul id="myTab" class="nav nav-tabs newest" role="tablist">   
                        
                        {% for contenido in contenidos %}
                            <li role="presentation" {% if contenido.id == 1 %} class="active" {% endif %} >
                                <a href="#{{contenido.id}}" id="cat-{{contenido.id}}" role="tab" data-toggle="tab" aria-controls="{{contenido.id}}" aria-expanded="true">
                                    <h1 class="titulo1" style="font-size: 20px; margin-bottom: 0px;">
                                        {{contenido.title}}
                                    </h1>
                                </a>
                            </li>
                        {% endfor %}						
					</ul>

                    <div id="myTabContent" class="tab-content">
                        {% for contenido in contenidos %}
                            <div role="tabpanel" {% if contenido.id == 1 %}  class="tab-pane fade in active" {% else %} class="tab-pane fade" {% endif %} id="{{contenido.id}}" aria-labelledby="cat-{{contenido.id}}">
                                <div class="row">
                                    <div class="col-md-4">
                                        {{contenido.contentizq|safe}}
                                    </div>
                                    <div class="col-md-4">
                                        {% if contenido.image != 'null' and contenido.image.url|length >= 1 %}
                                            <img src="{{contenido.image.url}}" alt="" class="img-responsive">
                                        {% endif %}  
                                    </div>
                                    <div class="col-md-4">
                                        {{contenido.contentder|safe}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}                                    
                    </div>
                              
                </div>
            </div>
        
    </div>

    {% comment 'Redes sociales' %}
	    en esta seccion empieza las redes sociales y sus enlaces correspondientes
	{% endcomment %}
    
		

        
				
    <div class="rec-blog">         
                
            <div class="row">
                <div class="col-md-4 " align="right">
                    <a href=""><i class="fab fa-facebook-square icoInfo" style="font-size: 30px;"></i></a>
                </div>
                <div class="col-md-4 " align="center">
                    <a href=""><i class="fab fa-instagram icoInfo" style="font-size: 30px;"></i></a>                    
                </div>
                <div class="col-md-4 " align="left">
                    <a href=""><i class="fab fa-twitter icoInfo" style="font-size: 30px;"></i></a>                    
                </div>
                <div class="col-md-12 " align="center">
                    <h2>Conéctate con nosotros #SomosUnicesmag</h2>
                </div>
                <div class="col-md-12 " align="center">
                    <h4 style="margin-bottom: 40px;"><b>Interés general | </b><a href="" style="letter-spacing: 4px; color:#818384 ">Medidas de prevención frente al coronavirus (COVID-19)</a> </h4>
                </div>
            </div>
          
    </div>
    


    {% comment 'funcion buscar' %}
        el codigo acontinuacion de java script sirve para redirigir hacia el programa 
    {% endcomment %}
    <script type="text/javascript">
        $('.program').on('change', function(){
        window.location = $(this).val();
        });
    </script>
{% endblock content %}