.contenedorflot{  
    
  height:340px;
  position: fixed;
  right:0px;
  bottom:0px;
  z-index: 8;
  }
.texwhats{
  margin-top: 276px;
  margin-right: 40px;
  padding-left: 10px;
  padding-right: 50px;
  color: #f3f3f3;  
  border-radius: 50px;
}

.texwhats>h3{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px
}

.texwhats>h3>i{
  padding-left: 10px;
}

.contenedorflot>div{
  background-color: #25D366;
}
  .botonF1{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#bd1622;
    right:0;
    bottom:0;
    position:absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
  }
  span{
    transition:.5s;  
  }
  .botonF1:hover span{
    transform:rotate(360deg);
  }
  .botonF1:active{
    transform:scale(1.1);
  }
  .btnf{
    width:50px;
    height:50px;
    border-radius:100%;
    border:none;
    color:#FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size:30px;
    outline:none;
    position:absolute;
    right:0;
    bottom:0;
    margin-right:26px;
    transform:scale(0);
  }

  .btnf a{
    color:#FFF;
  }

  .botonF2{
    background:#2196F3;
    margin-bottom:85px;
    transition:0.5s;
  }
  .botonF3{
    background:#3b5998;
    margin-bottom:145px;
    transition:0.7s;
  }
  .botonF4{
    background:#25D366;
    margin-bottom:205px;
    transition:0.9s;
  }
  .botonF5{
    background:#E1306C;
    margin-bottom:265px;
    transition:0.99s;
  }
  .animacionVer{
    transform:scale(1);
  }
  