<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>            
            {% block title %}{{title}}{% endblock %} | UNICESMAG 
        </title>
        <link  rel="icon"   href="https://info.unicesmag.edu.co/wp-content/uploads/2020/07/logofavico.png" type="image/png" />
        {% load static %}
        <!-- fonts -->        
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/223e065bc3.js" crossorigin="anonymous"></script>

        {% comment 'fuentes' %}        
        <link href="{% static 'font-awesome/css/font-awesome.css' rel='stylesheet' %}" type='text/css'>
        {% endcomment %}

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
        
        <!-- main css -->
        <link href="{% static 'style.css'%}" rel="stylesheet">
        <link href="{% static 'contenidomenu.css'%}" rel="stylesheet">
        <link href="{% static 'responsive.css'%}" rel="stylesheet">
        
        <!-- Slider -->
        <link href="{% static 'css/owl.carousel.css'%}" rel="stylesheet">
        <link href="{% static 'css/owl.theme.css'%}" rel="stylesheet">
        <link href="{% static 'css/owl.transitions.css'%}" rel="stylesheet"> 
        
        <!-- lightbox -->
        <link href="{% static 'css/prettyPhoto.css'%}" rel="stylesheet">


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% comment 'slider' %}
        acontinuacion se muestra las librerias para cargar el slider
        {% endcomment %}
        <script type="text/javascript" src="{% static 'sliders/_scripts/jquery-2.0.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'sliders/_scripts/jquery-ui-1.10.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'sliders/_scripts/responsive-layered-slider.js' %}"></script> 
        
        

        {% comment 'sticky' %}
        en esta sesion empieza el sticky
        {% endcomment %}
        <link href="{% static 'sticky.css'%}" rel="stylesheet">
        
        <link href="{% static 'botflot/botflot.css'%}" rel="stylesheet">
        
        <style>
            .Boton {
                background-color:transparent;
                border:2px solid #ffffff;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-size:15px;
                padding:5px 10px;
                text-decoration:none;
                margin: 10px;
                
            }
            .Boton:hover {
                background-color:transparent;
                border:2px solid #bd1622;
                color:#bd1622;
            }
            .Boton:active {
                position:relative;
                top:1px;
            }
        </style>
    </head>
    <body>

        <div id="wrapper" class="homepage-1"> <!-- wrapper -->
            <div id="header"> <!-- header -->
                <div class="top"> <!-- top -->
                    <div class="container">
                        <ul class="top-support"> 
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">MI UNICESMAG</span> <i class="fa fa-angle-down icomenu"></i></a>
                                <ul class="dropdown-menu" style="top: 30px; min-width:auto">
                                    <li ><a target="_blank" href="https://info.unicesmag.edu.co/mi-universidad/">Sobre nosotros</a></li>
                                    <li ><a target="_blank" href="http://noticias.unicesmag.edu.co/organigrama/">Organigrama</a></li>
                                    <li ><a target="_blank" href="https://info.unicesmag.edu.co/rectoria/">Rectoría</a></li>
                                    <li ><a target="_blank" href="https://info.unicesmag.edu.co/vicerrectorias/">Vicerrectorías</a></li>
                                    <li ><a target="_blank" href="http://noticias.unicesmag.edu.co/planeacion/">Planeación</a></li>
                                    <li ><a target="_blank" href="http://noticias.unicesmag.edu.co/trabaja_con_nosotros/">Trabaja con nosotros</a></li>
                                    <li ><a target="_blank" href="https://info.unicesmag.edu.co/permanencia-al-regimen-tributario-especial/">Documentación permanencia RTE</a></li>
                                    <li ><a target="_blank" href="http://noticias.unicesmag.edu.co/calidad/">Calidad Institucional</a></li>
                                    <li ><a target="_blank" href="http://noticias.unicesmag.edu.co/seguridadysaludeneltrabajo/">Seguridad y salud en el trabajo</a></li>                                    
                                </ul>
                            </li>
                            <li><a target="_blank" href="http://noticias.unicesmag.edu.co/reglamentos/"><span>Documentación</span></a></li>
                            <li><a target="_blank" href="https://info.unicesmag.edu.co/directorio/"><span>Directorio</span></a></li>
                            <li><a target="_blank" href="https://info.unicesmag.edu.co/comunicados-universidad-cesmag/"><span>Comunicados</span></a></li>
                        </ul>
                        
                        <div class="top-control">                          
                            <a target="_blank" href="https://info.unicesmag.edu.co/servicios-institucionales/">Servicios Institucionales<i class="fas fa-laptop"></i></a>
                            <a target="_blank" href="https://info.unicesmag.edu.co/peticiones-quejas-y-reclamos/">PQR<i class="fas fa-question"></i></a>
                        </div>                        
                    </div>
                    
                </div> <!-- top -->                   
              
                <div id="believe-nav"> <!-- Nav -->
                    
                        <div class="min-marg">
                            <nav class="navbar navbar-default">
                                <!-- <div class="container-fluid"> -->
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="{%url 'inicio'%}" style="position: absolute;z-index: 6;"><img src="{% static 'images/logocesmag.png' %}" alt=""></a>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="active"><a href="{%url 'inicio'%}">Inicio <span class="sr-only">(current)</span></a></li>
                                          
                                            <li class="dropdown menu-large">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Inscripciones<i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown-menu megamenu" role="menu">
                                                    <li>
                                                        <div class="">
                                                            <div class="mega-offers">
                                                                <img src="{% static  'images/menu1icono.png'%}" class="img-responsive" alt="" style="margin-top: 10%; margin-left: 1%;">
                                                            </div>
                                                            <div class="mega-sub">                                                                
                                                                <ul class="submenuCes">
                                                                    <li><a target="_blank" href="http://inscripciones.unicesmag.edu.co/">Inscribete</a></li>
                                                                    <li><a target="_blank" href="https://info.unicesmag.edu.co/programas/">Pregrado</a></li>
                                                                    <li><a target="_blank" href="https://info.unicesmag.edu.co/postgrados/">Posgrado</a></li>
                                                                    <li><a target="_blank" href="https://escuelas.unicesmag.edu.co/index.php/centro-de-idiomas/">Cursos de idiomas</a></li>
                                                                    <li><a target="_blank" href="https://www.youtube.com/watch?v=Hay4HVbP8gY">Como inscribirme</a></li>
                                                                </ul>
                                                            </div>
                                                            
                                                            <div class="mega-offers contenedor">
                                                                
                                                                
                                                                <img src="{% static  'images/menu2icono.png'%}" class="img-responsive " alt="">

                                                                <div class="texto-encima"><a target="_blank" href="https://info.unicesmag.edu.co/financiacion/" class="botonmenu">Tramitar</a></div>
                                                                <div class="centrado">Crédito 
                                                                    universitario
                                                                </div>
                                                                <div class="abajo">
                                                                    <table>
                                                                        <tr>
                                                                            <td><a target="_blank" href="http://noticias.unicesmag.edu.co/ayudasybecas/" class="enlace">Apoyo financiero </a></td>
                                                                            <td>|</td>
                                                                            <td><a target="_blank" href="http://noticias.unicesmag.edu.co/ayudasybecas/" class="enlace"> Becas y subsidios</a></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown menu-large">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Academia<i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown-menu megamenu" role="menu">
                                                    <li>
                                                        <div class="">
                                                            <div class="mega-offers">
                                                                <img src="{% static  'images/academiaicono.png'%}" class="img-responsive" alt="" style="margin-top: 10%; margin-left: 1%;">
                                                            </div>
                                                            <div class="mega-sub">                                                                
                                                                <ul class="submenuCes">
                                                                    <li><a target="_blank" href="https://info.unicesmag.edu.co/programas/">Pregrado</a></li>
                                                                    <li><a target="_blank" href="https://info.unicesmag.edu.co/postgrados/">Posgrado</a></li>
                                                                    <li><a target="_blank" href="https://escuelas.unicesmag.edu.co/index.php/departamento-ciencias-basicas/">Departamentos</a></li>
                                                                    <li><a target="_blank" href="http://noticias.unicesmag.edu.co/examenes-preparatorios/">Exámenes preparatorios</a></li>
                                                                    <li><a target="_blank" href="https://orion.unicesmag.edu.co/ExternalModules/InscripcionCursosEspeciales/">Curso de verano</a></li>
                                                                    <li><a target="_blank" href="http://noticias.unicesmag.edu.co/descarga-certificados/">Descarga de certificados</a></li>
                                                                    <li><a target="_blank" href="">Calendario academico</a></li>
                                                                    <li><a target="_blank" href="https://cisohum.unicesmag.edu.co/index.php/consultorio-juridico/">Consultorio juridico</a></li>
                                                                </ul>
                                                            </div>
                                                            
                                                            <div class="mega-offers contenedor">
                                                                
                                                                
                                                                <img src="{% static  'images/fondoacademico.png'%}" class="img-responsive " alt="">

                                                                <div class="centrado">Biblioteca
                                                                </div>
                                                                <div class="abajo">
                                                                    <table>
                                                                        <tr>
                                                                            <td><a target="_blank" href="http://noticias.unicesmag.edu.co/biblioteca/" class="enlace" style="margin-left:15px">Ir al sitio</a></td>                                                            
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown menu-large">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Investigación<i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown-menu megamenu" role="menu">
                                                    <li>
                                                        <div class="">
                                                            <div class="mega-offers">
                                                                <img src="{% static  'images/investigacionico.png'%}" class="img-responsive" alt="" style="margin-top: 10%; margin-left: 1%;">
                                                            </div>
                                                            <div class="mega-sub">                                                                
                                                                <ul class="submenuCes">
                                                                    <li><a target="_blank" href="http://noticias.unicesmag.edu.co/el-sistema-de-investigaciones-de-ciencia-tecnologia-e-innovacion/">Investigación universitaria</a></li>
                                                                    <li><a target="_blank" href="http://noticias.unicesmag.edu.co/semilleros/">Semilleros de investigación</a></li>
                                                                    <li><a target="_blank" href="http://noticias.unicesmag.edu.co/grupos-de-investigacion/">Grupos de investigación</a></li>
                                                                    <li><a target="_blank" href="https://investigacion.unicesmag.edu.co/index.php/convocatoria-de-investigacion/">Convocatorias investigación</a></li>
                                                                    <li><a target="_blank" href="http://repositorio.unicesmag.edu.co:8080/xmlui/">Repositorio</a></li>
                                                                </ul>
                                                            </div>
                                                            
                                                            <div class="mega-offers contenedor">
                                                                
                                                                
                                                                <img src="{% static  'images/fondoinvestigacion.png'%}" class="img-responsive " alt="">
                                                                
                                                                <div class="centrado">Editorial
                                                                </div>
                                                                <div class="abajo">
                                                                    <table>
                                                                        <tr>
                                                                            <td><a target="_blank" href="http://noticias.unicesmag.edu.co/publicaciones/" class="enlace" style="margin-left:15px">Ir al sitio</a></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown menu-large">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Evangelización de las culturas<i class="fa fa-angle-down"></i></a>
                                                <ul class="dropdown-menu megamenu" role="menu">
                                                    <li>
                                                        <div class="">
                                                            <div class="mega-offers">
                                                                <img src="{% static  'images/investigacionico.png'%}" class="img-responsive" alt="" style="margin-top: 10%; margin-left: 1%;">
                                                            </div>
                                                            <div class="mega-sub">                                                                
                                                                <ul class="submenuCes">
                                                                    <li><a target="_blank" href="http://noticias.unicesmag.edu.co/el-sistema-de-investigaciones-de-ciencia-tecnologia-e-innovacion/">Sistema de bienestar</a></li>
                                                                </ul>
                                                            </div>
                                                            
                                                            <div class="mega-offers contenedor">
                                                                
                                                                
                                                                <img src="{% static  'images/fondoevangelizacionc.jpg'%}" class="img-responsive " alt="">
                                                                
                                                                <div class="centrado">Proyección social
                                                                </div>
                                                                <div class="abajo">
                                                                    <a target="_blank" href="http://noticias.unicesmag.edu.co/proyeccion-social/" class="enlace" style="margin-left:15px">Ir al sitio</a>
                                                                        
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>                                 

                                            {% comment 'Buscar' %}                                            
                                                <li class="menu-search-form">
                                                    <a href="#" id="open-srch-form" ><i class="fas fa-search"></i></a>
                                                </li>
                                                
                                                <li id="open-srch-form-mod">
                                                    <div>
                                                        <form class="side-search">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control search-wid" placeholder="Buscar" aria-describedby="basic-addon1">
                                                                <a href="" class="input-group-addon btn-side-serach" id="basic-addon1" ><i class="fa fa-search"></i></a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </li>
                                            {% endcomment %}
                                        </ul>
                                     
                                  </div><!-- /.navbar-collapse -->
                              <!--</div> -->
                              
                            </nav>
                        </div>
                        <div class="srch-form">
                            <form class="side-search">
                                <div class="input-group">
                                    <input type="text" class="form-control search-wid" placeholder="Buscar" aria-describedby="basic-addon2">
                                    <a href="" class="input-group-addon btn-side-serach" id="basic-addon2"><i class="fa fa-search"></i></a>
                                </div>
                            </form>
                        </div>
                    
                </div> <!-- Nav -->
                {% comment 'menu' %}
                <!--<div id="cat-nav">
                    <div class="container">
                        <div class="wrap-cat">
                            <a href="#" id="to-open-cat" class="btn btn-default btn-sm">show categories</a>
                            <ul class="this-cat clearfix">
                                <li class="active"><a href="">ELECTRONICS <i class="fa fa-angle-down"></i></a></li>
                                <li><a href="">MEN <i class="fa fa-angle-down"></i></a></li>
                                <li><a href="">WOMEN <i class="fa fa-angle-down"></i></a></li>
                                <li><a href="">BABY & KIDS <i class="fa fa-angle-down"></i></a></li>
                                <li><a href="">BOOKS & MEDIA <i class="fa fa-angle-down"></i></a></li>
                                <li><a href="">HOME & KITCHEN <i class="fa fa-angle-down"></i></a></li>
                                <li><a href="">MORE STORES <i class="fa fa-angle-down"></i></a></li>
                                <li><a href="">OFFERS ZONE <i class="fa fa-angle-down"></i></a></li>
                                <li class="cat-img-off"><img src="{% static 'images/offers.png" alt="off"></li>
                            </ul>
                        </div>
                    </div>
                </div>-->
                {% endcomment %}
                
              
                   
            </div> <!-- header -->
          
            <div class="content">                    
            {% block content %}
                <!-- codigo de los templates -->
            {% endblock %}
            </div>

            {% comment 'Botonflotante' %}
                botonflotante
            {% endcomment %}

            <div class="contenedorflot">
                <div class="texwhats">
                    <h3><i class="fab fa-whatsapp"></i> 317 254 2564 </h3>
                </div>
                <button class="botonF1">
                    <span><i class="fas fa-info-circle"></i></span>                
                </button>
                <button class="btnf botonF2">
                    <a href="mailto:inscripciones&#64;unicesmag.edu.co,webmaster&#64;unicesmag.edu.co" target="_blank"><span><i class="far fa-envelope-open"></i></span></a>
                </button>
                <button class="btnf botonF3">                    
                    <a href="https://www.facebook.com/unicesmagoficial/" target="_blank" ><span><i class="fab fa-facebook-f"></i></span></a>
                </button>
                <button class="btnf botonF4">
                    <a href="https://info.unicesmag.edu.co/wp-content/uploads/2020/12/Creditowp2.jpg" target="_blank" ><span><i class="fab fa-whatsapp"></i></span></a>
                </button>
                <button class="btnf botonF5">
                    <a href="https://www.instagram.com/unicesmagoficial/" target="_blank" ><span><i class="fab fa-instagram"></i></span></a>
                </button>
            </div>

            {% comment 'Footer' %}
                Footer sitio web
            {% endcomment %}
            <div id="footer"><!-- Footer -->
                <div class="footer-widget" style="padding-left: 5%;">
                    <div class="row">
                        <div class="col-md-7" >
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="terme">
                                        <div class="wid-title">NORMATIVIDAD</div>
                                        <p>
                                            <a target="_blank" href="http://noticias.unicesmag.edu.co/recursos/reglamentos/institucional/ESTATUTOSDELAIUCESMAG-c.pdf">Estatuto</a><br/>
                                            <a target="_blank" href="http://noticias.unicesmag.edu.co/recursos/reglamentos/institucional/Acuerdo0142009EstatutoDocente.pdf">Estatuto docente</a><br/>
                                            <a target="_blank" href="http://noticias.unicesmag.edu.co/recursos/reglamentos/estudiantes/NUEVOreglamentoestudiantil2016.pdf">Reglamento estudiantil</a><br/>
                                            <a target="_blank" href="http://noticias.unicesmag.edu.co/recursos/reglamentos/institucional/ACUERDOSISTEMABIENESTAR.pdf">Reglamento bienestar</a><br/>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="term">
                                        <div class="wid-title">DERECHOS PECUNIARIOS</div>
                                        <p>
                                            <i class="fas fa-exclamation-triangle" style="margin-bottom: 20px;"></i><br>
                                            La Universidad Cesmag se permite informar que los pagos para el proceso de inscripción y matriculas a sus programas académicos solo se pueden realizar en las cajas de la universidad o en los bancos designados para ello, dentro de las fechas establecidas en su calendario académico, así las cosas, se aclara que para el proceso de inscripción, admisión y matriculas, no utiliza intermediarios, por lo cual se recomienda hacer uso de los canales institucionales.
                                        </p>
                                        <a target="_blank" href="https://info.unicesmag.edu.co/wp-content/uploads/2019/12/Acuerdo-014-Se-fijan-los-derechos-pecuniarios-para-el-a%C3%B1o-2020_final.pdf" class="Boton">Derechos pecuniarios 2020</a>
                                        <a target="_blank" href="https://info.unicesmag.edu.co/wp-content/uploads/2019/12/JUSTIFICACION-DE-DERECHOS-PECUNIARIOS-PARA-2020_final.pdf" class="Boton">Justificación Derechos pecuniarios 2020</a>
                                        <a target="_blank" href="https://info.unicesmag.edu.co/wp-content/uploads/2020/12/ACUERDO-026-Por-el-cual-se-fijan-los-derechos-pecuniarios-para-el-a%C3%B1o-2021.pdf" class="Boton">Derechos pecuniarios 2021</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="{% static 'images/footerico1.png'%}" style="width: 700px; margin-bottom: 15px;" alt="ft-logo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="term">
                                        <div class="wid-title-PQ">Sede Principal</div>
                                        <p>
                                            <a href="#">Carrera 20A 14-54 – Teléfono 7216535</a><br/>
                                            <a href="#">Pasto, Nariño, Colombia</a><br/>
                                        </p>
                                    </div>
                                    <div class="term">
                                        <div class="wid-title-PQ">Sede Santiago</div>
                                        <p>
                                            <a href="#">Calle 12 #22f-16 – Teléfono 7374506-7374505</a><br/>
                                            <a href="#">Pasto, Nariño, Colombia</a><br/>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="term">
                                        <div class="wid-title-PQ">Consultorios Jurídicos</div>
                                        <p>
                                            <a href="#">Calle 16 No 21a-53, Respaldo Amorel Centro – Teléfono 7200352</a><br/>
                                            <a href="#">Pasto, Nariño, Colombia</a><br/>
                                        </p>
                                    </div>
                                    <div class="term">
                                        <div class="wid-title-PQ">Campus San Damián</div>
                                        <p>
                                            <a href="#">Correjimiento Catambuco, Pasto, Nariño, Colombia</a><br/>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-2" style="padding-top: 3%;">
                            <div class="term">
                                <div class="wid-title">Admisiones</div>
                                <p>
                                    PBX.: 7216535<br/>
                                    Carrera 20a 14-54<br/>
                                    Skype: /Unicesmag<br/>
                                    Correo electrónico:<br/>
                                    inscripciones@unicesmag.edu.co<br/>
                                    <br/>
                                    Línea whatsapp
                                    <h4><i class="fab fa-whatsapp"></i> 317 641 3543</h4>
                                    {% comment 'lineas wp' %}
                                    <h4><i class="fab fa-whatsapp"></i> 317 435 0590</h4>
                                    <h4><i class="fab fa-whatsapp"></i> 321 639 3919</h4>
                                    <h4><i class="fab fa-whatsapp"></i> 317 639 6047</h4>
                                    <h4><i class="fab fa-whatsapp"></i> 315 867 9495</h4>
                                    <h4><i class="fab fa-whatsapp"></i> 316 740 8671</h4>
                                    <h4><i class="fab fa-whatsapp"></i> 317 442 4527</h4>
                                    <h4><i class="fab fa-whatsapp"></i> 317 437 3950</h4>  
                                    {% endcomment %}                                      
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-md-3" style="background-color: #121644; padding-top: 3%;padding-bottom:2%;padding-left: 25px;">
                            <div class="terme">
                                <div class="wid-title">Información interés</div>
                                <p>
                                    <a target="_blank" href="http://noticias.unicesmag.edu.co/recursos/reglamentos/institucional/nuevo/PROYECTOEDUCATIVOPEI.pdf">PEI – UNICESMAG</a><br/>
                                    <a target="_blank" href="http://noticias.unicesmag.edu.co/recursos/planeacion/PDI2013-20212.pdf">Plan de desarrollo institucional 2013 – 2021</a><br/>
                                    <a target="_blank" href="http://noticias.unicesmag.edu.co/recursos/reglamentos/politicas-tratamiento-datos.pdf">Política de tratamiento de datos</a><br/>
                                    <a target="_blank" href="https://info.unicesmag.edu.co/comite-de-convivencia-laboral/">Comité de Convivencia Laboral</a><br/>
                                    <a target="_blank" href="http://noticias.unicesmag.edu.co/centro-intervencion-psicosocial/">Centro de Intervención Psicosocial</a><br/>
                                    <a target="_blank" href="http://noticias.unicesmag.edu.co/edictos/">Edictos</a><br/>
                                    <a target="_blank" href="http://noticias.unicesmag.edu.co/gestionhumana/">Gestión humana</a><br/>
                                    <a target="_blank" href="http://noticias.unicesmag.edu.co/inclusion-y-diversidad/">Inclusión y Diversidad</a><br/>
                                    <a target="_blank" href="https://info.unicesmag.edu.co/decisiones-de-organos-de-gobierno-unicesmag/">Decisiones de órganos de gobierno UNICESMAG</a><br/>
                                </p>
                                
                            </div>
                            <img src="{% static 'images/cesmagblanco.png'%}" style="width: 180px; margin-top: 40px;" alt="ft-logo">
                        </div>
                        
                    </div>
                </div>
                <div class="footer-text">
                        <p><span style="color: #030303;">“INSTITUCIÓN DE EDUCACIÓN SUPERIOR SUJETA A INSPECCIÓN Y VIGILANCIA POR EL MINISTERIO DE EDUCACIÓN NACIONAL” <strong>© 2020 - <script> document.write(new Date().getFullYear());</script> UNICESMAG.</strong><br>
                            Todos los derechos reservados, no se permite la copia y uso de ninguna parte de ésta página web sin permisos previos.
                            </span>
                            
                        </p>
                    
                </div>
            </div><!-- Footer -->
        </div> <!-- wrapper -->

        {% load static %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/library.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.raty.js' %}"></script>
        <script src="{% static 'js/ui.js' %}"></script>
        <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
        <script src="{% static 'js/jquery.selectbox-0.2.js' %}"></script>
        <script src="{% static 'js/theme-script.js' %}"></script>
        <script type="text/javascript" src="{% static 'sticky.js' %}"></script>
        <script type="text/javascript" src="{% static 'botflot/botflot.js' %}"></script> 
    </body>
</html>