#hero {
    height:40vh;
    width:100%;
    background-image: url(images/fondobannerf.jpg);
    display:flex;
    align-items:center;
    justify-content: center;
}



#hero::after {
    width:100%;
    height:40%;
    content: '';
    position:absolute;
    z-index:2;
    left:0;
    background:rgba(0,0,0,0.5)
}


#hero video {
    width:100%;
    height:40%;
    position:absolute;

    left:0;
    z-index:1;
    object-fit:cover;
    font-family:'object-fit: cover';
}


#hero .texture {
    width:100%;
    height:40%;
    position:absolute;
    left:0;
    z-index:1;
    background:url('https://info.unicesmag.edu.co/wp-content/uploads/2020/12/texture.png');
}


#hero .caption {
    position:relative;
    z-index:3;
    text-align:center;
    color:#ffffff;
}



#hero .caption h1 {
    text-transform: uppercase;
    font-size:2em;
    margin-bottom:0.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#hero .caption h2 {
    font-weight:200;
    font-size:1.5rem;
    margin:0;
}




@media screen and (min-width:768px)
{
    #hero .caption h1 {
        font-size:2.5rem;
    }

    #hero .caption h2 {
        font-size:1.75rem;
    }
}




@media screen and (min-width:992px)
{
    #hero .caption h1 {
        font-size:3rem;
    }

    #hero .caption h2 {
        font-size:2rem;
    }
}



@media screen and (min-width:1200px)
{
    #hero .caption h1 {
        font-size:4rem;
    }

    #hero .caption h2 {
        font-size:2.5rem;
    }
}